body{
    font-family: 'Roboto', sans-serif;
    
}
.navbar{
    background-color: gray;
    padding: 5px;
    text-align: center;
}
.navbar li{
    display: inline;
    padding: 80px;
   
    
}
.container{
    display: flex;
    
}
.first-part{
    padding: 80px;
    
}
.orange-colour{
    color: orange;
}
.button{
    text-decoration: none;
    background-image:linear-gradient(orange,tomato);
    padding: 12px 25px;
    border-radius: 20px;
    color: white;
    font-size: 14px;
}
.second-part{
    width: 50%;
    padding: 80px;
    
}
.second-part img{
    width: 40%;
    height: 124%;
    
}
#background-image{
    background-image: url(Background/7.png);
    background-repeat: no-repeat;
    width:100%;
    
}
.third-part{
  width: 33%;
  box-shadow: 10px 10px 40px gray;
  margin: 60px
  

}
.third-part img{
    width: 80%;
    padding: 10px;
    margin: 20px;
    
}
.container p{
    text-align: Left;
    padding: 30px;
}
.container h3{
    text-align: left;
    padding: 30px;
    font-weight: 900;
}
#alignment{
    text-align: center;
}
footer{
    background-color:rgb(15, 15, 15);
    text-align: center;
    padding: 60px;
    color: white;
}
#gray{
    color: gray;
}
